<img src="images/about.jpg" style="height:27rem;"></img>
<div style="">
	<div style="width:80%;height:36rem;background-color:#ffffff;margin-left:10%;margin-top:70px;box-shadow: 10px 10px 5px #888888;">
			<center style="padding-top:10px;"><h4>- Our Vision -</h4></center>
			<center><div class="divider" style="width:100px;height:2px;"></div><center>
			<div class="row">
				<div class="col l2">
				</div>
				<div class="col l8">
					<p>TO BE THE WORLD&#x27;S BEST MARKETING ENTERPRISE</p>
				</div>
			</div>
	
			<center><h4 style="padding-top:20px;">- Our Mission -</h4></center>
			<center><div class="divider" style="width:100px;height:2px;"></div><center>
			<div class="row">
				<div class="col l2">
				</div>
				<div class="col l8">
					<p>Bringing passionate people together to offer
marketing solutions that enhance our clients
awareness and build capabilities that enable
organisations to achieve sustainable growth.</p>
				</div>
			</div>
			
			<center><h4 style="padding-top:20px;">METHODOLOGY</h4></center>
			<center><div class="divider" style="width:100px;height:2px;"></div><center>
			<div class="row">
				<div class="col l2">
				</div>
				<div class="col l8">
					<p>Facilitate Win-Win Strategies for our clients
with Loyalty Integrity and Trust.</p>
				</div>
			</div>
			
	</div>
	
</div>


<div class="row" style="margin-top:80px;margin-bottom:60px;">
	<div class="col l3">
	</div>
	<div class="col l3"  >
		<div class="z-depth-2" style="border:2px solid grey;height:35rem;">
			<center><img src="images/profile.png" style="width:120px;height:120px;margin-top:30px;"></img>
			<h5>ANIRUDH KOLLARA</h5>
			<h6>CO-FOUNDER & CEO</h6>
			</center>
			<p style="padding-left:15px;padding-right:10px;">Anirudh Kollara is a 3rd Generation Entrepreneur of the Elite Group, with a background in
Computer Science Engineering he bridges the gap between technology and business.
His experience lies in turning businesses around with a strong long term marketing
strategy.</p>
		</div>
	</div>
	<div class="col l3" >
		<div class="z-depth-2" style="border:2px solid grey;height:35rem;">
			<center><img src="images/profile.png" style="width:120px;height:120px;margin-top:30px;"></img>
			<h5>ANIL KOLLARA</h5>
			<h6>FOUNDER & PARTNER</h6>
			</center>
			<p style="padding-left:15px;padding-right:10px;">Anil Kollara is a partner at the Elite Group of Companies, a second generation
entrepreneur, having 32 years of experience running the textile vertical Elite Sareehouse
of Elite Group. His entrepreneurial trait lead him to materialise his dream of creating a
domestic Linen Brand &#34;Linen Trail&#34;. His varied business exposure has lead him to invest in
Technology that would facilitate sustainable business growth</p>
		</div>
	</div>
</div>