 
<div ng-controller="homeControl">  

	
	 <div class="slider " style="height:27rem;">
    <ul class="slides">
      <li>
        <img src="images/slide1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/slide2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/slide3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
     
    </ul>
  </div>
  
	<div id="services" style="">
		<div class="container">
			<div class="center">
				<div class="col-md-6 col-md-offset-3">
					<h2>Services</h2>
					<hr>					
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<div class="row" style="margin-top:60px;margin-left:10%;margin-right:10%;">
		
		<div class="col l3 s12" style="margin-left:6%;">
			<div class="card" style="height:39rem;">
            <div class="card-image">
             <center><img class="activator" src="images/creative.jpg" style="width:250px;height:250px;"></center>
            </div>
            <div class="card-content">
				 <span class="card-title activator grey-text text-darken-4">CREATIVE<i class="material-icons right">more_vert</i></span>
              <p href="#">Kollara & Kollara’s creative branding strategy is about identifying the frame of reference for
your business and strengthening the point of difference. With our lead creative Rebecca Sam
Varghese who believes in visually materialising empathy to connect with ones customer.</p></div>
			<div class="card-reveal">
      <span class="card-title grey-text text-darken-4">We deliver,<i class="material-icons right">close</i></span>
      <p>&diams;&nbsp;BRAND IDENTITY DESIGN</p>
	  <p>&diams;&nbsp;BRAND POSITIONING</p>
    </div>
            </div>
            
          </div>
		
		
		<div class="col l3 s12" style="margin-left:6%;">
			<div class="card" style="height:39rem;">
            <div class="card-image">
             <center><img class="activator" src="images/digital.jpg" style="width:250px;height:250px;"></center>
            </div>
            <div class="card-content">
				<span class="card-title activator grey-text text-darken-4">DIGITAL<i class="material-icons right">more_vert</i></span>
              <p href="#">Kollara & Kollara gets you at the first click to a global audience and a handsome return to
your investment. Our widespread networking patterns carry you to the variant realms of your
customer on your product launch, your lead generation, better corporate visibility and your
superior online presence.</p>
            </div>
            <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">We deliver,<i class="material-icons right">close</i></span>
      <p>&diams;&nbsp;SEARCH ENGINE OPTIMISATION</p>
	  <p>&diams;&nbsp;SEARCH ENGINE MARKETING</p>
	  <p>&diams;&nbsp;SOCIAL MEDIA MARKETING</p>
	  <p>&diams;&nbsp;PAID ADVERTISING</p>
    </div>
          </div>
		</div>
		
		<div class="col l3 s12" style="margin-left:6%;">
			<div class="card" style="height:39rem;">
            <div class="card-image">
             <center><img class="activator" src="images/tech.jpg" style="width:250px;height:250px;"></center>
            </div>
            <div class="card-content">
				<span class="card-title activator grey-text text-darken-4">TECHNOLOGY<i class="material-icons right">more_vert</i></span>
              <p href="#">Kollara & Kollara deliver outstanding web solutions that are web-sensitive and marketsensible
to make a web-presence effective enough to exploit the infinite dimensions of the
world wide web.</p>
            </div>
            <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">We deliver,<i class="material-icons right">close</i></span>
      <p>&diams;&nbsp;RESPONSIVE WEB DESIGN</p>
	  <p>&diams;&nbsp;WEB HOSTING</p>
	  <p>&diams;&nbsp;WEB APPLICATION &nbsp;&nbsp;DEVELOPMENT</p>
	  <p>&diams;&nbsp;WEB RE-ENGINEERING</p>
    </div>
          </div>
		</div>
		
		
	</div>
	
	
	<section style="background-color:#d1d1d1;padding-bottom:60px;padding-top:40px;">
		<div class="container">
			<div class="row">
				
				<div class="col l9 s12">
					<div class="section-title text-center">
						<center><h2>Our Company</h2>
						<p>Kollara & Kollara is a marketing agency that
believes in the idea of a Win-Win</p></center>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col l6 s12" >
					<div class="about-text">
						<p>We at Kollara & Kollara create meaningful
digital experiences to help our clients bridge
the gap between their product/service and
their customers, primarily through our unique
SEO strategy and Web Marketing techniques.It is in our interest that our clients receive the
Return on Digital Investment, hence the
Win-Win Strategy.</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Lorem ipsum dolor sit amet</li>
							<li><span class="fa fa-angle-right"></span> consectetur adipiscing elit</li>
							<li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
							<li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
						</ul>
						
					</div>
				</div>
				<div class="col l6 s12" style="overflow:hidden;">
					<div class="about-image">
						<img src="images/abt.jpg" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>	 
	
	   

	<div class="about home-about" style="padding-top:40px;padding-bottom:40px;">
				<div class="container">
						
						<div class="row">
							<div class="col l6 s12"> 
							<div class="block-heading-two">
									<h5><span>Features</span></h5>
								</div>	
							<div class="tab-section">
								<div class="s12">
								<ul class="tabs">
								<li class="tab col s4"><a href="#test1" class="waves-effect waves-dark">Test 1</a></li>
								<li class="tab col s4"><a class="waves-effect waves-dark active" href="#test2">Test 2</a></li>
								<li class="tab col s4"><a href="#test3" class="waves-effect waves-dark">Test 3</a></li> 
								</ul>
								</div>
								<div id="test1" class="col s12 container">Ande omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div>
								<div id="test2" class="col s12 container">Terspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div>
								<div id="test3" class="col s12 container">Perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div> 
								</div>
							</div>
							<div class="col l6 s12">
								<div class="block-heading-two">
									<h5 style="padding-left:23px;"><span>Latest News</span></h5>
								</div>		
								<!-- Accordion starts -->
							  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
        
														 <!-- Accordion ends -->
								
							</div>
							
							
						</div>
						
						 						
						 
						<br>
					 
					  </div>
						
					</div>
	

	  
</div>
