<img src="images/services.jpg" style="height:26rem;"></img>

<center><h4 style="padding-top:20px;">OUR SERVICES</h4></center>
		<center><div class="divider" style="width:30%;border-width:2px;"></div></center>
	<div class="row">
		<div class="col l2">
		</div>
		<div class="col l8">
			<p style="padding-top:30px;">We create simple digital marketing strategies that attract and engage global audiences.
Whether you are starting from scratch or looking to expand your online presence it is essential
that each and every channel of any internet marketing plan are strategically working towards
the same final goal. We get you the best return on your investment. We deliver responsive
website design solutions that are web-sensitive & market-sensible.</p>
		</div>
	</div>
	
	 <div class="row" style="margin-left:10%;margin-right:8%;margin-top:40px;">
            <div class="col l4 ">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">BRAND IDENTITY DESIGN</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">BRAND POSITIONING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">SEARCH ENGINE OPTIMISATION</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
		
		<div class="row" style="margin-left:10%;margin-right:8%;">
            <div class="col l4 ">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">SEARCH ENGINE MARKETING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">SOCIAL MEDIA MARKETING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">PAID ADVERTISING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
		
		<div class="row" style="margin-left:10%;margin-right:8%;">
            <div class="col l4 ">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">RESPONSIVE WEB DESIGN</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">WEB HOSTING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col l4 " style="margin-left:0%;">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">WEB APPLICATION DEVELOPMENT</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
		
		<div class="row" style="margin-left:10%;margin-right:8%;">
            
             <div class="col l4 ">
             
                <div class="info-blocks-in">
                    <strong><h5 style="font-size:20px;color:#2b4162;">WEB RE-ENGINEERING</h5></strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            
        </div>
	
	
	
  
